<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { url: headers.host }) %>
  <body>
    <%- include('../partials/jumbotron.ejs') %>
    <!-- Create New Invite ID -->
    <section class="container-md px-4 my-5">
      <div class="d-flex justify-content-between">
        <p class="h5 text-primary">Create New Invite</p>
        <i class="fa-solid fa-chevron-down btn btn-light text-primary"></i>
      </div>
      <form action="/invite" method="POST" class="mt-3">
        <!-- Title -->
        <div class="mb-3">
          <input type="text" name="title" placeholder="Type the title" class="form-control" required>
          <div class="form-text">The title can be use as a description for your invite ID</div>
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-primary w-full">
          <i class="fa-solid fa-plus"></i>
          Create New Invite ID
        </button>
      </form>
    </section>
    <!-- All Invites -->
    <section class="container-md px-4">
      <p>Showing <%= invites.length %> invite ID</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">TITLE</th>
            <th scope="col">ENDPOINT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <% for ( const invite of invites ) { %>
            <tr>
              <td><%= nums++ %></td>
              <td><%= invite.title %></td>
              <td class="text-break">http://<%= headers.host %>/api/message/<%= invite.id %></td>
              <td>
                <a class="btn btn-primary" href="<%= `http://${ headers.host }/invite/${ invite.id }` %>"><i class="fa-solid fa-eye"></i>Detail</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </body>
</html>

